https://download.pytorch.org/whl/cpu/torch-1.12.0%2Bcpu-cp310-cp310-linux_x86_64.whl
fastapi==0.74.*
requests==2.27.*
sentencepiece==0.1.*
transformers==4.*
uvicorn[standard]==0.17.*
codecarbon
gunicorn
accelerate